.fintrack-table-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns the table to the left */
    padding: 20px;
    width: 100%; /* Restricts the table's width */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: white;
}

.fintrack-table {
    width: 100%;
    border-collapse: collapse;
}

.fintrack-table th, .fintrack-table td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 10px;
}

.fintrack-table th {
    background-color: #f4f4f4;
}

.negative {
    color: red;
}

.positive {
    color: green;
}

.add-button {
    background-color: #28a745;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-button:hover {
    background-color: #218838;
}

.delete-button {
    background-color: #dc3545;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #c82333;
}

input {
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.date-picker-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 20px;
}

input::placeholder {
    color: #ccc;
}

/* Ensure the container doesn't encroach top space */
.fintrack-wrapper {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start;
    margin-top: 20px; 
    width: 100%; 
    min-width: max-content; 
    max-width: max-content;
    padding: 20px 40px 20px 40px;
}

